.label {
    -fx-font-size: 14;
    -fx-font-name: Arial;
}

.H1 {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    padding-left: 5px;
}

.H2 {
    -fx-font-weight: bold;
}

.H3 {
    -fx-font-weight: bold;
}
.combo-box {
    -fx-font-size: 14;
    -fx-font-name: Arial;
}

.button {
    -fx-font-size: 14;
    -fx-font-name: Arial;
}
.btn_bold {
    -fx-font-size: 14;
    -fx-font-name: Arial;
    -fx-font-weight: bold;
}